<!DOCTYPE html>
<html>
  <head>
	<title>Phone Insurance</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
   <form method="POST" action="http://127.0.0.1:5000/page2">
	<div>
	  <div id="userInput" style="position: fixed; bottom: 0; left: 0;	right: 0;">
		<input type="submit" name="submit_button" value="Do Something 2 ">
		<input type="submit" name="submit_button" value="Do Something Else 2">
      </div>

      <div id="chatbox" style = "overflow-y: scroll; height: 550px;">
        <p class="botText"><span>Hi! I'm your Insurance wallet assistance 22.</span></p>
      </div>
    </div>


   </form>
  </body>
</html
