<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    
	<div>
	  <div id="userInput" style="position: fixed; bottom: 0; left: 0;	right: 0;">
		<input type="submit" name="submit_button" value="Do Something">
		<input type="submit" name="submit_button" value="Do Something Else">
      </div>
      <div id="chatbox" style = "overflow-y: scroll; height: 550px;">
        <p class="botText"><span>Hi! I'm your Insurance wallet assistance.</span></p>
      </div>
    </div>
	
	
    <form method="POST">
    	<input name="buttonOutput" type="submit" value="Not Satisfied with the Answer?">
    </form>


  </body>
</html>